.mainSection {
    background-size: cover;
    display: flex;
    flex-direction: column;

    .information {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .dates {
            display: flex;
            flex-direction: column;
            align-items: center;

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                .title {
                    font-size: 1.5rem;
                    letter-spacing: .8rem;
                    color: $color-principal;
                    font-weight: 700;
                }

                .description {
                    text-align: center;
                }
            }
        }

        .socialMedia {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &--text {
                text-align: center;
            }

            .links {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                a {
                    text-decoration: none;
                }

                .icon {
                    color: #242526;
                    font-size: 1.5rem;
                    display: block;
                    transition: all .5s linear;
                }

                .icon:hover {
                    font-size: 2rem;
                    color: $color-principal;
                }
            }
        }
    }

    .post {
        display: flex;
        padding: 1rem;

        .photoPost {
            width: 100%;
            display: block;
            border-radius: 1rem;
        }
    }
}