.navbar {
    display: none;
    &--ul {
        list-style: none;
        font-size: 1.1rem;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
        }

        a {
            color: #FFF;
            text-decoration: none;
            padding: .5rem 0;
        }

    }
}

.navbarDisplay {
    display: flex;
}